:root {
    /*/* Tipografia */
    --barlow: "Barlow", sans-serif;

    /* Tamaño 1rem = 10px */
    --titulo-banner: 7rem;
    --encabezados-h1: 5.2rem;
    --encabezados-h2: 4rem;
    --titulo-rosa-h2: 3.2rem;
    --titulos-h3-rutas: 2.4rem;
    --texto-general: 1.8rem;
    --header-footer: 1.6rem;

    /* Cuerpo */
    --bold: 700;
    --medium: 600;
    --regular: 400;

    /* Paleta de colores */
    --color-base: #fff3e3;
    --azul-talavera: #282667;
    --rosa-mexicano: #e1456c;

    /* Colores neutros */
    --negro: #333333;
    --blanco: #ffffff;
    --gris: #f4f5f7;
    --bordes: #e1456c;
}

* {
    font-family: var(--barlow);
}

/*Header banner*/
#Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    width: 100%;
    padding: 0 100px;
    /* margin: 100px 0 0 0; */
    background-image: url("../src/img/bannerFondo.png");
    background-size: 100% 100%;
}

#Banner h1 {
    font-size: var(--titulo-banner);
    font-weight: var(--bold);
    color: var(--blanco);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 2px var(--bordes);
}

#Banner .breadcrumb {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Banner .breadcrumb nav {
    --bs-breadcrumb-divider: ">";
    --breadcrumb-divider-color: var(--blanco);
    --bs-breadcrumb-divider-color: var(--blanco);
    color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-shadow: 1px 1px 2px var(--bordes);
    --bs-breadcrumb-divider-color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item a {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-decoration: none;
    text-shadow: 2px 1px 2px var(--bordes);
}

#Banner .breadcrumb .breadcrumb-item:hover {
    pointer-events: auto;
}
/*Header banner*/

@media (max-width: 575.98px) {
    /*Banner*/
    #Banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        padding: 0 50px;
    }

    #Banner h1 {
        font-size: var(--titulos-h3-rutas);
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        text-shadow: 3px 3px 2px var(--bordes);
        line-height: 40px;
    }

    #Banner .breadcrumb {
        line-height: 12px;
        padding: 0;
        margin: 0;
    }
    /* #Banner .breadcrumb nav ol li { */
    #Banner .breadcrumb .breadcrumb-item {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
    }

    /* #Banner .breadcrumb nav ol li a { */
    #Banner .breadcrumb .breadcrumb-item a {
        font-size: 12px;
        font-weight: var(--bold);
        text-decoration: none;
        text-shadow: 2px 1px 2px var(--bordes);
    }
    /*Banner*/
}

/*Main*/

.main {
    display: flex;
    margin: 95px 0;
    padding: 0px 150px;
}

/*Tabla*/

.container-table {
    display: none;
}

.claseAlerta {
    display: none;
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    background-color: #fff3e3;
    border: none;
    border-radius: 10px;
    font-family: var(--barlow);
    text-align: center;
}

.titulo-cart-movil {
    display: none;
}

.container-table {
    margin-right: 20px;
}

.table-group-divider {
    border: none;
}

tr {
    border: white;
    text-align: center;
}

.table  th {
    background-color: var(--color-base);
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.table  td {
    height: 180px;
    vertical-align: middle;
    font-size: 18px;
}

td > i {
    color:#e1456c;
    font-size: 25px;
}

td > img {
    width: 95px;
    border-radius: 10px;
}

.div-cantidad {
    display: inline;
    padding: 6px 15px;
    border: solid 1px var(--bordes);
}

/*Container Total*/
.container-total {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--bordes);
    border-radius: 10px;
    width: 350px;
    height: 290px;
    padding: 10px 20px 20px;
    margin-left: 20px;
}

.container-total h2 {
    color: var(--rosa-mexicano);
    margin: 1rem 0 2rem 0;
    font-family: var(--barlow);
    font-size: 25px;
}

.container-total-subtitulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-total-subtitulos p {
    font-family: var(--barlow);
}

.container-total-subtitulos span {
    font-weight: bold;
    padding-right: 15px;
}

.p-right {
    text-align: right;
}

.p-total {
    color: var(--rosa-mexicano);
}

.sub-total {
    margin-top: 3rem;
}

.btn {
    width: 140px;
    height: 39px;
    background-color: var(--rosa-mexicano);
    border-color: #e1456c;
    border-radius: 10px;
    font-family: var(--barlow);
    font-size: 15px;
    border-radius: 8px;
    margin-top:4rem;
}
.btn:hover {
    background-color: #e1456c;
    color: #ffff;
    border-color: #e1456c;
}

/* Termina Main*/

/*** Responsive Main ***/
@media (max-width: 768px){
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0px 20px;
    }
    
    /*Tabla*/

    .claseAlerta {
        font-size: 20px;
    }

    .titulo-cart-movil {
        display: block;
        font-family: var(--barlow);
        font-size: 30px;
        font-weight: bold;
        color: var(--rosa-mexicano);
        margin-top: 15px;
        margin-bottom: 0;
    }

    thead {
        display: none;
    }
    
    .container-table {
        margin: 0;
    }
    
    tr {
        border-bottom: solid 1px var(--negro);
    }

    .table  td {
        /*white-space: nowrap;*/
        font-size: 15px;
        height: 120px;
        vertical-align: middle; /*Para posicionarlo a la mitad verticalmente*/
    }
    
    td > i {
        font-size: 20px;
    }
    
    td > img {
        width: 75px;
    }
    
    .div-cantidad {
        display: inline;
        padding: 4px 10px;
    }
    
    /*Container Total*/
    .container-total {
        width: 300px;
        height: 260px;
        margin: 20px 0;
        padding-bottom: 0;
    }
    
    .container-total h2 {
        font-size: 20px;
    }
    
    .container-total-subtitulos p {
        font-size: 20px;
    }

    .sub-total {
        margin-top: 2rem;
    }
    
    .btn {
        width: 215px;
        height: 45px;
        font-size: 16px;
        border-radius: 8px;
        margin-top:2rem;
    }
    .btn:hover {
        background-color: #e1456c;
        color: #ffff;
        border-color: #e1456c;
    }

}
/*** Termina Responsive Main ***/
