
body {
    font-family: var(--barlow);
}
label {
    font-size: 18px;
}

@media screen and (min-width: 761px) {
    .inicioSesion form,
    .registro form {
        margin: 0 auto;
        max-width: 600px;
        border: 1px solid var(--rosa-mexicano);
        border-radius: 10px;
        padding: 20px;
    }

    .logo-formulario {
        width: 100%;
        height: auto;
    }

    /* Estilos para los formularios en escritorio */
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
        border: 1px solid var(--rosa-mexicano);
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="date"]::placeholder {
        font-size: 18px;
    }

    /* Estilos para los botones */
    .boton {
        width: 237px;
        height: 55px;
    }

    /*letras rosas escritorio*/
    .titulosRosas {
        color: var(--rosa-mexicano);
    }
}


@media screen and (max-width: 760px) {/* Eestilos para moviles */
    .inicioSesion form,
    .registro form {
        margin: 0;
        border: none;
        border-radius: 0;
        padding: 20px;
    }

    .logo-formulario {
        width: 100%;
        height: auto;
    }

    /* formularios en movil */
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
        border: 1px solid var(--rosa-mexicano);
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="date"]::placeholder {
        font-size: 18px;
    }

    
    .boton {/*botones en movil */
        width: 164px;
        height: 38px;
    }

    
    .titulosRosas {/* Letras rosas en movil */
        color: var(--rosa-mexicano);
    }
}