body {
    font-family: var(--barlow);
}

label {
    font-size: 1.8rem;
}
.alerta{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 47.6rem) {
    .inicioSesion form,
    .registro form {
        margin: 0 auto;
        max-width: 37.5rem;
        border: 0.1rem solid var(--rosa-mexicano);
        border-radius: 0.6rem;
        padding: 1.3rem;
    }

    .logo-formulario {
        width: 100%;
        height: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
        border: 0.1rem solid var(--rosa-mexicano);
        border-radius: 0.3rem;
        padding: 0.6rem;
        width: 100%;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="date"]::placeholder {
        font-size: 1.8rem;
    }

    .boton {
        width: 14.8rem;
        height: 3.4rem;
    }

    .titulosRosas {
        color: var(--rosa-mexicano);
    }
}

@media screen and (max-width: 47.6rem) {
    .inicioSesion form,
    .registro form {
        margin: 0;
        border: none;
        border-radius: 0;
        padding: 1.3rem;
    }

    .logo-formulario {
        width: 100%;
        height: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
        border: 0.1rem solid var(--rosa-mexicano);
        border-radius: 0.3rem;
        padding: 0.6rem;
        width: 100%;
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder,
    input[type="date"]::placeholder {
        font-size: 1.8rem;
    }

    .boton {
        width: 10.2rem;
        height: 2.4rem;
    }

    .titulosRosas {
        color: var(--rosa-mexicano);
    }
}
