#Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    width: 100%;
    padding: 0 100px;
    /* margin: 100px 0 0 0; */
    background-image: url("../src/img/bannerFondo.png");
    background-size: 100% 100%;
}

#Banner h1 {
    font-size: var(--titulo-banner);
    font-weight: var(--bold);
    color: var(--blanco);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 2px var(--bordes);
}

#Banner .breadcrumb {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Banner .breadcrumb nav {
    --bs-breadcrumb-divider: ">";
    --breadcrumb-divider-color: var(--blanco);
    --bs-breadcrumb-divider-color: var(--blanco);
    color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-shadow: 1px 1px 2px var(--bordes);
    --bs-breadcrumb-divider-color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item a {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-decoration: none;
    text-shadow: 2px 1px 2px var(--bordes);
}

#Banner .breadcrumb .breadcrumb-item:hover {
    pointer-events: auto;
}

.titulosRosas {
    color: var(--rosa-mexicano);
    font-size: var(--titulo-rosa-h2);
    text-align: center;
}


main{
    margin: 40px 100px 100px 100px;
}

.formulario {
    border: solid 1px var(--rosa-mexicano);
    border-radius: 10px;
    box-shadow: 0px 18px 28px #091e424c;
    margin-block: 50px;
    padding: 50px;
    flex: 2 1 60%;
    /* max-width: 120 rem; */
}

.formulario div input {
    font-size: var(--texto-general);
}

.contenedorCategorias{
    padding-left: 0;
}

.boton-blanco {
    width: 137px;
    height: 55px;
    border-width: 0.5px;
    background-color: #ffffff;
    border-color: #e1456c;
    border-radius: 10px;
    font-size: 18px;
    font-family: var(--barlow);
    color: #e1456c;
    transition: all 0.5s ease;
}

.boton-blanco:hover {
    background-color: #e1456c;
    color: #ffffff;
    border-color: #e1456c;
}


.form-control{
    border: solid 1px var(--rosa-mexicano);
    border-radius: 10px;
}

.contenedorFotos{
    border-radius: 10px;
    background-color: var(--color-base);
    padding: 20px 18px;
    height: 200px;
}

#nombreProducto{
    width: 450px;
    height: 50px;
}

#descripcion{
    height: 198px;
}

#precio{
    width: 150px;
    height: 50px;
}

#categoria{
    width: 175px;
    height: 50px;
}

#etiquetas{
    width: 450px;
    height: 75px;
}

