#Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    width: 100%;
    padding: 0 100px;
    /* margin: 100px 0 0 0; */
    background-image: url("../src/img/bannerFondo.png");
    background-size: 100% 100%;
}

#Banner h1 {
    font-size: var(--titulo-banner);
    font-weight: var(--bold);
    color: var(--blanco);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 2px var(--bordes);
}

#Banner .breadcrumb {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Banner .breadcrumb nav {
    --bs-breadcrumb-divider: ">";
    --breadcrumb-divider-color: var(--blanco);
    --bs-breadcrumb-divider-color: var(--blanco);
    color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-shadow: 1px 1px 2px var(--bordes);
    --bs-breadcrumb-divider-color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item a {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-decoration: none;
    text-shadow: 2px 1px 2px var(--bordes);
}

#Banner .breadcrumb .breadcrumb-item:hover {
    pointer-events: auto;
}

.titulosRosas {
    color: var(--rosa-mexicano);
    font-size: var(--titulo-rosa-h2);
    text-align: center;
}


main{
    margin: 40px 100px 100px 100px;
}

.formulario {
    border: solid 1px var(--rosa-mexicano);
    border-radius: 10px;
    box-shadow: 0px 18px 28px #091e424c;
    margin-block: 50px;
    padding: 50px;
    flex: 2 1 60%;
    /* max-width: 120 rem; */
}

.formulario div input {
    font-size: var(--texto-general);
}

.textArea{
    height: 100px;
}

.contenedorCategorias{
    padding-left: 0;
}

label {
    font-size: var(--texto-general);
    font-family: var(--barlow);
}

input, select {
    height: 50px;
}

select {
    font-family: var(--barlow);
    font-size: var(--texto-general);
}

.form-control, .form-select{
    border: solid 1px var(--rosa-mexicano);
    border-radius: 10px;
}

.form-control::placeholder{
    font-size: var(--texto-general);
    font-family: var(--barlow);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.boton-blanco {
    width: 137px;
    height: 55px;
    border: 0.5px solid #e1456c;
    background-color: #ffffff;
    border-color: #e1456c;
    border-radius: 10px;
    font-size: 18px;
    font-family: var(--barlow);
    color: #e1456c;
    transition: all 0.5s ease;
}

.boton-blanco:hover {
    background-color: #e1456c;
    color: #ffffff;
    border-color: #e1456c;
}

.contenedorBoton{
    margin-top: 20px;
}

.contenedorFotos{
    border-radius: 10px;
    background-color: var(--color-base);
    padding: 20px 18px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: var(--barlow);
    font-size: var(--texto-general);
}

/* Margen responsivos pequeños*/
@media (max-width: 425px) {
    main  {
        margin: 20px;
    }
    .formulario {
        padding: 20px;
    }
    .contenedorBoton{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .contenedorFotos{
        margin-left: 0;
    }
    .contenedorCategorias{
        padding: 0;
    }
    .hechoConLagrimas{
        padding: 0;
    }
    .contenedorBoton{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

/*Banner responsivo pequeño*/
@media (max-width: 575.98px) {
    /*Banner*/
    #Banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        padding: 0 50px;
    }

    #Banner h1 {
        font-size: var(--titulos-h3-rutas);
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        text-shadow: 3px 3px 2px var(--bordes);
        line-height: 40px;
    }

    #Banner .breadcrumb {
        line-height: 12px;
        padding: 0;
        margin: 0;
    }
    /* #Banner .breadcrumb nav ol li { */
    #Banner .breadcrumb .breadcrumb-item {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
    }

    /* #Banner .breadcrumb nav ol li a { */
    #Banner .breadcrumb .breadcrumb-item a {
        font-size: 12px;
        font-weight: var(--bold);
        text-decoration: none;
        text-shadow: 2px 1px 2px var(--bordes);
    }
    /*Banner*/
}