/*Header banner*/
#Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 293px;
    width: 100%;
    padding: 0 100px;
    margin: 100px 0 0 0;
    background-image: url("../src/img/bannerFondo.png");
    background-size: 100% 100%;
}

#Banner h1 {
    font-size: var(--titulo-banner);
    font-weight: var(--bold);
    color: var(--blanco);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    text-shadow: 3px 3px 2px var(--bordes);
}

#Banner .breadcrumb {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Banner .breadcrumb nav {
    --bs-breadcrumb-divider: ">";
    --breadcrumb-divider-color: var(--blanco);
    --bs-breadcrumb-divider-color: var(--blanco);
    color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-shadow: 1px 1px 2px var(--bordes);
    --bs-breadcrumb-divider-color: var(--blanco);
}

#Banner .breadcrumb .breadcrumb-item a {
    color: var(--blanco);
    font-size: var(--titulos-h3-rutas);
    font-weight: var(--bold);
    text-decoration: none;
    text-shadow: 2px 1px 2px var(--bordes);
}

#Banner .breadcrumb .breadcrumb-item:hover {
    pointer-events: auto;
}

/*Header banner*/

/*Barra de busqueda y filtrado de la tienda*/
.navTienda {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0 100px;
    background-color: var(--color-base);
}

.navTienda .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navTienda .container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navTienda .container div .navFiltrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
}

.navTienda .container div .navFiltrar button{
    color: var(--azul-talavera);
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: var(--bold);
}

.navTienda .container div .navBuscar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 0;
    padding: 0;
}

.navTienda .container div .navBuscar form input {
    width: 190px;
    height: 30px;
    border: 1px solid var(--azul-talavera);
    color: var(--azul-talavera);
    font-family: var(--barlow);
    font-size: 18px;
    font-weight: var(--medium);
}

.navTienda .container div .navBuscar form input::placeholder{
    font-family: var(--barlow);
    font-size: 18px;
    font-weight: var(--regular);
    color: var(--azul-talavera);
}

.navTienda .container div .navBuscar form button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--azul-talavera);
    border: none;
}

.navTienda .container div .navBuscar form button:hover {
    border: none;
    text-decoration:underline var(--azul-talavera);
}
/*Barra de busqueda y filtrado de la tienda*/

/*Caja de filtros*/
#filtro{
    justify-content: start;
    width: 100%;
    padding: 0 100px;
}

#filtro .cardFiltros{
    width: 400px;
    background-color: var(--color-base);
    padding: 0 20px;
    border-bottom: 1px solid var(--azul-talavera);
    border-right: 1px solid var(--azul-talavera);
    border-left: 1px solid var(--azul-talavera);
    border-radius: 0px 0px 10px 10px;
}

#filtro .cardFiltros .tituloFiltro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--azul-talavera);
}

#filtro .cardFiltros .tituloFiltro h4{
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--azul-talavera);
}

#filtro .cardFiltros .tipoFiltros h5{
    font-family: var(--barlow);
    font-size: 18px;
    font-weight: var(--medium);
    color: var(--azul-talavera);
}

#filtro .cardFiltros .tipoFiltros span{
    font-family: var(--barlow);
    font-size: 16px;
    font-weight: var(--medium);
    color: var(--azul-talavera);
}

#filtro .cardFiltros .tipoFiltros label{
    font-family: var(--barlow);
    font-size: 14px;
    font-weight: var(--medium);
    color: var(--azul-talavera);
}

#filtro .cardFiltros .tipoFiltros .contenedorTipoFiltros{
    padding: 0 20px;
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .contentTxtMinMax{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .contentTxtMinMax input[type="number"]{
    border: none;
    background-color: transparent;
    font-family: var(--barlow);
    font-weight: var(--medium);
    font-size: 14px;
    color: var(--azul-talavera);
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .rangeSlider{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--rosa-mexicano);
    outline: none;
    padding: 0;
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .rangeSlider .progres{
    left: 0%;
    right: 0%;
    height: 100%;
    width: auto;
    background: var(--rosa-mexicano);
    border-radius: 4px;
    position: absolute;
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .rangeSlider input[type="range"]{
    position: absolute;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .rangeSlider input[type="range"]::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: var(--color-base);
    border-radius: 50%;
    border: 5px solid var(--rosa-mexicano);
}

#filtro .cardFiltros .tipoFiltros .filtroPrecio div .rangeSlider input[type="range"]::-moz-range-thumb{
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background: var(--color-base);
    border-radius: 50%;
    border: 5px solid var(--rosa-mexicano);
}

#filtro .cardFiltros .tipoFiltros .filtroCategorias div div label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#filtro .cardFiltros .tipoFiltros .filtroCategorias .checkCategorias {
    appearance: none;
    height: 12px;
    width: 12px;
    border: 1px solid var(--rosa-mexicano);
    border-radius: 3px;
    margin-right: 3px;
}

#filtro .cardFiltros .tipoFiltros .filtroCategorias .checkCategorias:checked{
    border: 3px double var(--rosa-mexicano);
    box-shadow: inset 6px 6px 6px 6px var(--rosa-mexicano);
    padding: 0;
}

#filtro .cardFiltros .tipoFiltros .ordenPrecio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#filtro .cardFiltros .tipoFiltros .ordenNombre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#filtro .cardFiltros .tipoFiltros .ordenNombre div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#filtro .cardFiltros .tipoFiltros .ordenPrecio div input,
#filtro .cardFiltros .tipoFiltros .ordenNombre div input{
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid var(--rosa-mexicano);
    margin-right: 3px;
    transition: 0.1s all linear;
}

#filtro .cardFiltros .tipoFiltros .ordenPrecio div input:checked,
#filtro .cardFiltros .tipoFiltros .ordenNombre div input:checked{
    border: 3px double var(--rosa-mexicano);
    box-shadow: inset 6px 6px 6px 6px var(--rosa-mexicano);
    padding: 0;
}

#filtro .cardFiltros .filtroBoton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

#filtro .cardFiltros .filtroBoton #btnAplicarFiltro{
    width: 100px;
    height: 30px;
}
/*Caja de filtros*/

/*Contendor de los botones de limpieza de busqueda y filtros*/
.limpiezaBusquedaFiltros{
    display: flex;
    justify-content: center;
    width: 100%;
}

.limpiezaBusquedaFiltros .limpiar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--bordes);
    background: transparent;
    width: 100px;
    margin: 20px 20px 0 20px;
    padding: 5px 7px;
    font-family: var(--barlow);
    color: var(--azul-talavera);
    transition: .2s all linear;
}

.limpiezaBusquedaFiltros .limpiar span{
    line-height: 14px;
}
.limpiezaBusquedaFiltros .limpiar:hover{
    background-color: var(--rosa-mexicano);
    color: var(--blanco);
}
/*Contendor de los botones de limpieza de busqueda y filtros*/

/*Contenedor de productos*/
#contenedorProductos {
    justify-content: start;
    align-items: center;
    padding: 0 100px;
    margin: 50px 0;
}

#contenedorProductos .sinCoincidencias{
    font-family: var(--barlow);
    width: 100%;
    text-align: center;
    color: var(--azul-talavera);
}
/*Contenedor de productos*/

/*Card de Producto*/
#contenedorProductos .cardProducto{
    width: 290px;
    height: 400px;
    border: none;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

#contenedorProductos .cardProducto .caraPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px solid var(--azul-talavera);
    overflow: hidden;
    transition: .5s all ease;
}

#contenedorProductos .cardProducto .caraPrincipal img{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#contenedorProductos .cardProducto .caraPrincipal .card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 30px;
    padding: 5px 20px;
    height: auto;
    bottom: 0;
    left: 0;
    background: var(--azul-talavera);
    opacity: .8;
}

#contenedorProductos .cardProducto .caraPrincipal .card-body h4{
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--blanco);
    opacity: 1;
    text-align: center;
}

#contenedorProductos .cardProducto .overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 20px 20px 50px 20px;
    transition: .5s all ease;
    background: var(--azul-talavera);
    opacity: 0;
}

#contenedorProductos .cardProducto .overlay span,
#contenedorProductos .cardProducto .overlay h4{
    font-family: var(--barlow);
    color: var(--blanco);
    font-size: 18px;
    font-weight: var(--medium);
    text-align: center;
}

#contenedorProductos .cardProducto .overlay .verProducto a{
    font-size: 18px;
    font-family: var(--barlow);
    color: var(--blanco);
    text-decoration: none;
    cursor: pointer;
}

#contenedorProductos .cardProducto .overlay h4{
    font-size: 24px;
    font-weight: var(--bold);
    letter-spacing: 2px;
}

#contenedorProductos .cardProducto .overlay .productPrecio,
#contenedorProductos .cardProducto .overlay .productMadeBy{
    font-size: 20px;
    font-weight: var(--medium);
    text-align: center;
}

#contenedorProductos .cardProducto .overlay .productIconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#contenedorProductos .cardProducto .overlay .productIconos .productoIcon{
    color: var(--blanco);
    font-size: 20px;
}

#contenedorProductos .cardProducto:hover .overlay{
    opacity: .9;
}

#contenedorProductos .cardProducto:hover .caraPrincipal .card-body {
    opacity: 0;
}
/*Card de Producto*/

.paginacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.paginacion .contnedorBtnPaginacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginacion .contnedorBtnPaginacion .btnPaginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid var(--bordes); 
    margin: 10px;
    background: var(--color-base);
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: var(--medium);
    color: var(--rosa-mexicano);
    transition: .4s all linear;
}

.paginacion .contnedorBtnPaginacion .btnPaginacion:hover{
    background: var(--rosa-mexicano);
    color: var(--color-base);
}

.paginacion .contnedorBtnPaginacion .btnSiguienteAtras{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 1px solid var(--bordes); 
    margin: 10px;
    background: var(--color-base);
    font-size: 40px;
    color: var(--rosa-mexicano);
    transition: .4s all linear;
}

.paginacion .contnedorBtnPaginacion .btnSiguienteAtras:hover {
    background: var(--rosa-mexicano);
    color: var(--color-base);
}

.paginacion .contnedorBtnPaginacion .btnSelected{
    background: var(--rosa-mexicano);
    color: var(--color-base);
}

@media (max-width: 575.98px) {
    /*Banner*/
    #Banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        padding: 0 50px;
        margin: 100px 0 0 0;
    }

    #Banner h1 {
        font-size: var(--titulos-h3-rutas);
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        text-shadow: 3px 3px 2px var(--bordes);
        line-height: 40px;
    }

    #Banner .breadcrumb {
        line-height: 12px;
        padding: 0;
        margin: 0;
    }
    /* #Banner .breadcrumb nav ol li { */
    #Banner .breadcrumb .breadcrumb-item {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
    }

    /* #Banner .breadcrumb nav ol li a { */
    #Banner .breadcrumb .breadcrumb-item a {
        font-size: 12px;
        font-weight: var(--bold);
        text-decoration: none;
        text-shadow: 2px 1px 2px var(--bordes);
    }
    /*Banner*/
    /*Barra de navegacion de la tienda*/
    .navTienda {
        height: 70px;
        padding: 0 40px;
    }

    .navTienda .container div {
        flex-wrap: nowrap;
    }
    
    .navTienda .container div .navFiltrar button{
        font-size: 16px;
    }
    
    .navTienda .container div .navBuscar form input {
        width: 150px;
        height: 26px;
        font-size: 14px;
    }
    
    .navTienda .container div .navBuscar form input::placeholder{
        font-size: 14px;
    }
    
    .navTienda .container div .navBuscar form button{
        height: 26px;
        font-size: 16px;
    }
    /*Barra de navegacion de la tienda*/

    /*Caja de filtros*/
    #filtro{
        justify-content: center;
        width: 100%;
        padding: 0 20px;
    }

    #filtro .cardFiltros{
        width: 100%;
        padding: 0 15px;
    }

    #filtro .cardFiltros .tituloFiltro{
        height: 35px;
    }

    #filtro .cardFiltros .tituloFiltro h4{
        font-size: 18px;
    }

    #filtro .cardFiltros .tipoFiltros h5{
        font-size: 16px;
    }

    #filtro .cardFiltros .tipoFiltros span{
        font-size: 14px;
    }

    #filtro .cardFiltros .tipoFiltros label{
        font-size: 12px;
    }

    #filtro .cardFiltros .tipoFiltros .filtroPrecio div .contentTxtMinMax input[type="number"]{
        font-size: 12px;
    }

    .paginacion .contnedorBtnPaginacion .btnPaginacion{
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 768px){
    /*Caja de filtros*/
    #contenedorProductos {
        padding: 0 50px;
        margin: 50px 0;
    }
    /*Contenedor de productos*/
    .paginacion .contnedorBtnPaginacion .btnPaginacion{
        height: 50px;
        width: 50px;
    }
}